name: Build and Push Common Service

on:
  push:
    branches: [ "main"]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Java 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      # --- SỬA Ở ĐÂY ---
      # Không cd, không ../, chạy trực tiếp file ở root
      - name: Build with Gradle
        run: |
          chmod +x gradlew
          ./gradlew clean build -x test

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          # Context là dấu chấm (.) nghĩa là thư mục hiện tại
          context: .
          push: true
          # Đặt tên cứng luôn vì đây là repo riêng của order-service
          tags: ${{ secrets.DOCKER_USERNAME }}/common-service:latest